@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #f0ebe2;
  --foreground: #636149;
  --card: #f0ebe2;
  --card-foreground: #636149;
  --popover: #f0ebe2;
  --popover-foreground: #636149;
  --primary: #636149;
  --primary-foreground: #f0ebe2;
  --secondary: #b0ad9c;
  --secondary-foreground: #636149;
  --muted: #dcd6c9;
  --muted-foreground: #636149;
  --accent: #b0ad9c;
  --accent-foreground: #636149;
  --destructive: #b0ad9c;
  --destructive-foreground: #636149;
  --border: #dcd6c9;
  --input: #dcd6c9;
  --ring: #b0ad9c;
  --chart-1: #636149;
  --chart-2: #7a7862;
  --chart-3: #a09b89;
  --chart-4: #c6c1b4;
  --chart-5: #f0ebe2;
  --sidebar: #f0ebe2;
  --sidebar-foreground: #636149;
  --sidebar-primary: #636149;
  --sidebar-primary-foreground: #f0ebe2;
  --sidebar-accent: #b0ad9c;
  --sidebar-accent-foreground: #636149;
  --sidebar-border: #dcd6c9;
  --sidebar-ring: #b0ad9c;
  --sky-blue-light: #8ecae6ff;
  --blue-green: #219ebcff;
  --deep-space-blue: #023047ff;
  --amber-flame: #ffb703ff;
  --princeton-orange: #fb8500ff;
}

.dark {
  --background: #636149;
  --foreground: #f0ebe2;
  --card: #636149;
  --card-foreground: #f0ebe2;
  --popover: #636149;
  --popover-foreground: #f0ebe2;
  --primary: #f0ebe2;
  --primary-foreground: #636149;
  --secondary: #7a7862;
  --secondary-foreground: #f0ebe2;
  --muted: #4a4833;
  --muted-foreground: #dcd6c9;
  --accent: #b0ad9c;
  --accent-foreground: #636149;
  --destructive: #7a7862;
  --destructive-foreground: #f0ebe2;
  --border: #7a7862;
  --input: #7a7862;
  --ring: #dcd6c9;
  --chart-1: #f0ebe2;
  --chart-2: #dcd6c9;
  --chart-3: #b0ad9c;
  --chart-4: #7a7862;
  --chart-5: #4a4833;
  --sidebar: #4a4833;
  --sidebar-foreground: #f0ebe2;
  --sidebar-primary: #f0ebe2;
  --sidebar-primary-foreground: #636149;
  --sidebar-accent: #7a7862;
  --sidebar-accent-foreground: #f0ebe2;
  --sidebar-border: #7a7862;
  --sidebar-ring: #dcd6c9;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
